

.modal-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.modal {
    width: 250px;
    height: 320px;
    background: rgba(150, 178, 220, .85);
    border: 1px solid lightgoldenrodyellow;
    margin: 15px;
    padding: 15px;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    box-shadow: 5px 5px 15px 8px darkgray;
}

.modal-close {
    position: relative;
    left: 10px;
    bottom: 10px;
    background: rgba(180, 150, 250, .4);
    text-align: center;
    line-height: 14px;
}

.round-close {
    border: 1px solid darkred;
    border-radius: 100%;
    background: red;
    color: white;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

/*.hidden {*/
/*    display: none;*/
/*}*/
