
.hidden {
  display: none;
}

/* ----------------------------------- */

form {
  width: calc(100% - 5px);
  border-radius: 0 20px 20px 0;
  color: rgb(0, 40, 16);
  }

fieldset {
    margin: 15px;
    padding: 5px;
}

label {
  position: relative;
  display: inline-flex;
  gap: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}

input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="email"] {
  position: absolute;
  left: 100px;
  border-width: 0;
  outline: none;
  margin: 5;
  width: 220px;
  padding: 5px;
  background-color: rgba(144, 186, 212, 0.71);
  box-shadow: 0 0 3px rgba(29, 41, 25, 0.842);
  font-size: 16px;
  color: black;
}

input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  background-color: rgba(232, 247, 25, 0.84);
  box-shadow: 3px 3px 5px rgba(19, 58, 7, 0.75);
}

.mini-button,
button[type="submit"],
input[type="button"],
input[type="reset"] {
  border-width: 0;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px 25px;
  background-color: rgba(59, 175, 243, 0.692);
  box-shadow: 4px 4px 3px rgba(9, 24, 90, 0.726);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

a {
  padding: 10px;
}

#test {
  position: relative;
  font-size: 20px;
  margin: 25px;
  width: 150px;
  background: #f6c564;
  border: 1px solid darkred;
  box-shadow: 8px 6px 3px 3px rgba(100, 150, 87, .4);
}




