
.task {
    background-color: rgb(222, 187, 102);
    /* width: calc(100% - 200px); */
    width: 450px;
    min-height: 300px;
    margin: 8px;
    padding:  8px;
    box-shadow: 8px 8px 3px rgba(36, 35, 2, 0.692);
    border-radius: 5px;
    border: 1px solid forestgreen;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "fields task-buttons"
    "fields task-buttons"
    "fields task-buttons"
    "fields task-buttons"
    "description description";
  }
  
  /* .task>* {
    border: 1px solid blue;
  } */
  
  .task-field {
    display: flex;
    flex-direction: row;
    grid-area: task-field;
  }
  
  .task-field > h4 {
    margin: 5px;
    display: block;
    width: 150px;
  }
  
  .task-field-description {
    grid-area: description;
    padding: 8px; 
  }
  
  .task-field-description > h4 {
    margin: 1px;
    padding: 2px;
  }
  
  .task-field-description > em {
    /* margin: 10px; */
  }
  
  .task-field-value {
    width: 50px;
  }
  
  .task-buttons {
    display: flex;
    flex-direction: column ;
   
  }
  
  .task-buttons > button {
    justify-content: start;
    margin: 2px 5px;
    padding: 2px 5px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px 1px rgba(0, 128, 0, 0.534);
  }



.setup-window-1 {
    width: 500px;
    height: 360px;
    padding: 8px;
    border: 1px solid rgb(0, 76, 160);
    border-radius: 3px;
    position: fixed;
    left: 25%;
    bottom: 25%;
    background: rgba(29, 122, 229, 0.95);
    box-shadow: 0 0 18px 4px slategrey;
    z-index: 3;
}

.close-button {
    position: relative;
    top: 0;
    right: -470px;
    background-image: url(http://s1.iconbird.com/ico/1112/Koloria/w21h211351868964ErrorSymbol.png);
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}

.blur {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 300%;
    background: #062204;
    opacity: 0.7;
}