
.task {
    background-color: rgb(198, 222, 144);
/* width: calc(100% - 200px); */
    min-width: 320px;
    min-height: 180px;
    margin: 10px 5px;
    padding:  8px;
    box-shadow: 8px 8px 3px rgba(72, 70, 37, 0.8);
    border-top: 5px ridge yellowgreen;
    /*border-radius: 5px;*/
    /*border: 1px solid forestgreen;*/
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "fields task-buttons"
    "fields task-buttons"
    "fields task-buttons"
    "fields task-buttons"
    "description description";
  }
  .task-field {
    display: flex;
    flex-direction: row;
    grid-area: task-field;
  }
  .task-field > * {
    margin: 5px;
    display: block;
    width: 150px;
  }
  .task-field-description {
    grid-area: description;
    padding: 8px; 
  }
  .task-field-description > * {
    margin: 1px;
    padding: 2px;
  }
  
  .task-field-description > em {
    /* margin: 10px; */
  }
  
  .task-field-value {
    width: 50px;
  }
  
  .task-buttons {
    display: flex;
    flex-direction: column ;
   
  }
  
  .task-buttons > button {
    justify-content: start;
    margin: 1px 1px;
    padding: 2px 2px;
    box-shadow: inset 3px 3px 5px 1px rgba(102, 136, 102, 0.4);
      font-weight: bold;
      color: dimgrey;
  }
  